<% provide(:title, "Help")%>

<h1>Help</h1>

<p>need help? have a question? you've come to the right place </p>
<p>ask your question here and we will try our best to find the answer you're looking for</p>